
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout/Index.cshtml";
}
 
@model List<TestimonialVM>
 

@section Scripts {


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
                 const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "btn btn-success",
            cancelButton: "btn btn-danger"
          },
          buttonsStyling: false
        });

                document.querySelectorAll('.sweet-delete').forEach(button => {
            button.addEventListener('click', function () {
                var recordId = this.getAttribute("data-record-id");

                swalWithBootstrapButtons.fire({
                title: `${recordId} ID'li bu kaydı silmek istediğinize emin misiniz?`,
                            text: "Bu işlem geri alınamaz!",
                            showCancelButton: true,
                            icon: "warning",
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Evet, sil!',
                            cancelButtonText: 'İptal',
                            reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        try {
                            const response = await fetch(`/Admin/Testimonial/Delete/${recordId}`, {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            });

                            if (response.ok) {
                                let data = await response.json();
                                swalWithBootstrapButtons.fire("Silindi!", data.myMessage, "success").then(() => {
                                    location.reload();
                                });
                            } else {
                                let errorData = await response.json();
                                swalWithBootstrapButtons.fire("Hata!", errorData.message || "Bilinmeyen bir hata oluştu.", "error");
                            }
                        } catch (error) {
                            swalWithBootstrapButtons.fire("Hata!", "Sunucuya bağlanırken bir hata oluştu.", "error");
                        }
                    } else {
                        swalWithBootstrapButtons.fire("İptal edildi", "Kayıt silinmedi :)", "info");
                    }
                });
            });
        });

    </script>




}





<h4 class="card-title">Data Table</h4>
<a href="/Admin/Testimonial/Create" class="btn mb-3 btn-primary text-white">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Yeni Referans Oluştur
</a>

<div class="table-responsive">
    <table class="table table-bordered table-striped verticle-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Fotoğraf Url</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Image</td>
                    <td>
                        <div class="d-flex ">
                            <a href="/Admin/Testimonial/Update/@item.Id" data-toggle="tooltip" data-placement="top" title="Gümcelle">
                                <img style="height: 30px;" class="img-fluid" src="~/adminweb/images/icon/edit.png" />
                            </a>
                            <a class="ml-3 sweet-delete" data-record-id="@item.Id" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Sil">
                                <img style="height: 30px;" class="img-fluid" src="~/adminweb/images/icon/bin.png" />
                            </a>
                            <a class="ml-3" href="/Admin/Testimonial/Detail/@item.Id" data-toggle="tooltip" data-placement="top" title="Detay">
                                <img style="height: 30px;" class="img-fluid" src="~/adminweb/images/icon/file-1.png" />
                            </a>
                        </div>
                    </td>


                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Fotoğraf Url</th>
            </tr>
        </tfoot>
    </table>
</div>








